---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="hero"
  class="relative py-12 md:py-20 lg:py-48 text-center transition duration-300"
>
  <div class="container mx-auto px-6">
    <div class="flex justify-center mb-8">
      <img
        src="/images/portFoto.webp"
        alt="Foto de Karlo"
        class="w-40 h-40 sm:w-52 sm:h-52 lg:w-64 lg:h-64 rounded-full object-cover shadow-xl"
      />
    </div>
    <h1
      class="text-4xl sm:text-5xl lg:text-7xl font-extrabold leading-tight mb-4"
    >
      {t("hero.title")}
      <span class="text-primary">{t("hero.name")}</span>.
    </h1>

    <p class="text-xl sm:text-2xl max-w-2xl mx-auto mb-8">
      {t("hero.subtitle")}
    </p>

    <div
      class="flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-4"
    >
      <a
        href="/projects"
        class="inline-block px-8 py-3 text-lg font-semibold rounded-full shadow-lg transition duration-300 ease-in-out transform hover:scale-105 bg-indigo-600 text-white hover:bg-indigo-700"
      >
        {t("hero.cta_projects")}
      </a>

      <a
        href="/contact"
        class="inline-block px-8 py-3 text-lg font-semibold rounded-full shadow-md transition duration-300 ease-in-out transform hover:scale-105 border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        {t("hero.cta_contact")}
      </a>
    </div>
  </div>
</section>
