---
// Navbar.astro
import MenuIcon from '../icons/MenuIcon.astro';
---
<header class="bg-gray-800 p-4 text-white">
  <div class="container mx-auto flex justify-between items-center">

    <a href="/" class="text-xl font-bold">AstroNav</a>

    <button class="md:hidden" id="mobile-menu-button">
      <MenuIcon />
    </button>

    <nav class="hidden md:flex space-x-4">
      <a href="#" class="hover:text-blue-400">Inicio</a>
      <a href="#" class="hover:text-blue-400">Acerca de</a>
      <a href="#" class="hover:text-blue-400">Servicios</a>
      <a href="#" class="hover:text-blue-400">Contacto</a>
    </nav>
  </div>

  <div id="mobile-menu" class="hidden md:hidden">
    <a href="#" class="block py-2 px-4 hover:bg-gray-700">Inicio</a>
    <a href="#" class="block py-2 px-4 hover:bg-gray-700">Acerca de</a>
    <a href="#" class="block py-2 px-4 hover:bg-gray-700">Servicios</a>
    <a href="#" class="block py-2 px-4 hover:bg-gray-700">Contacto</a>
  </div>
</header>
<script>
  document.addEventListener('DOMContentLoaded', () => {
  const button = document.getElementById('mobile-menu-button');
  const menu = document.getElementById('mobile-menu');

  if(button != null && menu != null){
    button.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });
  }
});
</script>
